@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme1: #161b2f;
  --theme2: #a66584;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-theme1: var(--theme1);
  --color-theme2: var(--theme2);

  --font-orbitron: var(--orbitron-cover), var(--orbitron-rest);
  --font-inter:
    var(--inter-regular), var(--inter-rest), , system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
  --font-jet:
    var(--jetBrains-regular), ui-monospace, SFMono-Regular, Menlo, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--theme1);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.spark {
  position: fixed;
  /* color: #7bfb61; */
  color: var(--theme2);
  font-family: monospace;
  pointer-events: none;
  animation: floatUp 1.5s ease-out forwards;
}

@keyframes floatUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-40px);
  }
}
